header
{
    width: 100%;
    height: 50px;
}

nav
{
    margin-left: 312px;
}

nav li
{
    float: left;
    
    font-size: 19px;
    font-family: "Georgia";
    line-height: 1;
    
    list-style: none;
}


nav a
{
    display: block;
    
    height: 34.5px;
    
    text-decoration: none;
    
    color: rgb(51, 51, 51);
    
    padding-top: 15.5px;
    padding-left: 45px;
    padding-right: 22px; 
}

nav a:hover
{
    background-color: #15a98c;
    color: #fff;
}


.about_me_icon
{
    background-image: url(../images/about_me_icon.png);
    background-position: 20px 18px;
    background-repeat: no-repeat;
}

.hobby_icon
{
    background-image: url(../images/hobby_icon.png);
    background-position: 19px 18px;
    background-repeat: no-repeat;
}

.video_icon
{
    background-image: url(../images/video_icon.png);
    background-position: 19px 17px;
    background-repeat: no-repeat;
}

.about_me_icon:hover
{
    background-image: url(../images/about_me_icon_active.png);
}

.hobby_icon:hover
{
    background-image: url(../images/hobby_icon_active.png);
}

.video_icon:hover
{
    background-image: url(../images/video_icon_active.png);
}

.clear
{
    clear: both;
}

.background
{
    width: 100%;
    height: 400px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
}

.main_container
{
    width: 1200px;
    margin: 0 auto;
    margin-top: -401px;
}

.top_block
{
    width: 960px;
    height: 900px;
    
    margin: 195px 100px 60px 120px;
}

.films
{
    width: 1200px;
}

footer
{
    width: 100%;
    height: 70px;
    
    background-color: #f5f5f5;
    
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1;
}

.footer_text
{
    margin-left: 426px;
    padding-top: 28px;
}

.sidebar
{
    width: 330px;
    height: 900px;
    
    float: left;
}

.quote
{
    width: 570px;
    height: 206px;
    
    float: right;
}

.text
{
    width: 570px;
    height: 640px;
    
    float: right;
    
    margin-top: 50px;
}

.photo
{
    display: block;
    width: 330px;
    height: 350px;
    
    border-radius: 5px;
    
    margin-top: 16px;
    margin-bottom: 48px;
}

.list_header
{
    font-size: 24px;
    font-family: "Open Sans";
    color: rgb(21, 169, 140);
    font-weight: bold;
    line-height: 1;
}

.list
{
    margin-top: 16px;
    padding-left: 22px;
    margin-bottom: 46px;
    
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}

.quote_text
{
    font-size: 28px;
    color: #fff;
    font-family: "Georgia";
    font-style: italic;
    line-height: 1;
    
    padding-top: 50px;
    margin-top: -2px;;
    margin-left: 5px;
}

.quote_author
{
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1;
    
    margin-top: 28px;
    margin-left: 5px;;
}

.text_head
{
    font-size: 48px;
    line-height: 0.875;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
    
    margin-top: -2px;
}

.rectangle
{
    width: 60px;
    height: 6px;
    
    border-radius: 3px;
    background-color: #45c3a9;
    
    margin-top: 28px;
    margin-bottom: 45px;
}

.text_description
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    
    margin-bottom: 46px;
}

.my_homeland
{
    font-size: 36px;
    line-height: 1.167;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: normal;
    line-height: 1;
    
    margin-bottom: 17px;
}

.feedback_button
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(21, 169, 139);
    text-decoration: none;
    
    margin-bottom: 134px;
}

.underlining
{
    text-decoration: none;
}

.underlining:hover 
{ 
    text-decoration: underline;
}

.block_header
{
    font-size: 36px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 1.167;
    
    margin-top: -2px;
}

.movie
{
    width: 285px;
    
    float: left;
    
    margin-top: 32px;
    margin-right: 20px;
    
}

.movie.last
{
    margin-right: -20px;
}

.movie_photo
{
    width: 100%;
    height: 190px;
    
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    
    margin-bottom: 26px;
}

.movie_header
{
    font-size: 22px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1;
}

.movie_description
{
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(85, 85, 85);
    line-height: 1.75; 
    
    margin-top: 20px;
    margin-bottom: 60px;
}

.all_films
{
    width: 220px;
    height: 50px;
    
    border-radius: 5px;
    
    margin-left: 480px;
    margin-bottom: 70px;
    
    background-color: #098d72;
    color: #fff;
}

.button_name
{
    font-size: 19px;
    font-family: "Georgia";
    color: rgb(245, 245, 245);
    line-height: 50px;
    
    text-decoration: none;
    
    display: block;
}
